# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ActionRoguelike.iml
/contentModel.xml
/Content/ExampleContent
# Editor-based HTTP Client requests
/httpRequests/
